/* "My theme" by 20_NickName_20 */
* {
    background:     #00000099; /* bg_main */
    foreground:     #ee496c; /* fg_main */
    selected:       #ff5c60; /* bg_mode_line */
    selected-fg:    #00203f; /* fg_mode_line */
}
